- @page_title = "#{@region ? REGION_NAMES[@region] : "Global"} #{@is_random ? "R " : ""}#{@bracket}v#{@bracket} replay search#{@offset > 0 ? " (page #{(@offset / 100).ceil + 1})" : ""}"
- cache(@page_hash, :raw => true, :expires_in => @cache_time) do
	.w960.replaysearch
		= build_pagination(PAGINATION[:default], @total_replays, "paginate-top")
		.clearb
		%table.shadow{:cellspacing => "1px"}
			%tr.columns
				%th.view View
				%th.players Team 1
				%th.players Team 2
				%th.rmap Map
				%th.rbracket Bracket
				%th.age.rage Date
			- @replays.each do |replay|
				%tr{:class => cycle("darkbg", "lightbg")}
					%td.view= link_to("View", replay.site_url)
					= replay_players(replay)
					%td.rmap
						= can_link_to(replay.map.name, map_info_path(replay.map.id, parameterize(replay.map.name)))
					%td.rbracket= replay_bracket(replay.bracket)
					%td.age.rage= day_words_or_time(replay.played_on)
			- if @replays.length == 0
				%tr.darkbg
					%td.noreplays{:colspan => 6} No replays found.
		= build_pagination(PAGINATION[:default], @total_replays, "paginate-bottom")
	.clearb
