- @page_title = "#{@achievement.name} achievement rankings"
- cache(@page_hash, :raw => true, :expires_in => 30.minutes) do
	.w960.achieveinfo
		%table.shadow{:cellspacing => "1px"}
			%tr.lightbg
				%td.icon.darkbg{:rowspan => 2}
					%span.icon{:style => "background: url(\"/images/#{@achievement.image_name(:small)}\") no-repeat scroll #{@achievement.sprite_location(:small)} transparent; width: #{@achievement.image_size(:small)}px; height: #{@achievement.image_size(:small)}px;", :class => "borderedicon"}
				%td.name= @achievement.name
				%td.points
					#{wrap_number(@achievement.points)} points
				%td.total
					= wrap_number(number_with_delimiter(@achievement.world_competition))
					- if @achievement.world_competition == 1
						player in the world has this achievement
					- else
						players in the world have this achievement
			%tr.darkbg
				%td.description{:colspan => 3}= @achievement.description	
			
	.spacer
	.w960
		= build_pagination(PAGINATION[:default], @total_chars, "paginate-top")
		.clearb
		%table.shadow.achievementrank#sortlist{:cellspacing => "1px"}
			%tr
				%th#rank Rank
				- unless @region
					%th#region Region
				%th#character0 Character
				%th#achievements Earned
			- @rankings.each do |character|
				%tr{:class => "tblrow #{cycle("darkbg", "lightbg")}"}
					%td.rank= number_with_delimiter(character[:rank])
					- unless @region
						%td.region= character.region.upcase
					%td.character0= link_to character.name, character_achievements_path(character.region, character.bnet_id, character.name, @achievement.category_id)
					%td.achievements= character.earned_on.strftime("%m/%d/%Y")
			- if @rankings.length == 0
				%tr.darkbg
					%td{:colspan => 8} Nobody has earned this achievement yet
		= build_pagination(PAGINATION[:default], @total_chars, "paginate-bottom")
		= javascript_include_tag("sorttable", :cache => "cache-sorttable", :lifetime => 1.month)
		:javascript
			var bracket = 1
			setup_table()
	.clearb
